{% extends "event/base.html" %}
{% block content %}
  <article class="content-section container">

        <!-- Event Data -->
        <div class="event-details row">
          <div class="media">
            <div class="event-metadata col-md-4.5">
              <img class="rounded event-img" src="../../media/group_sample.jpg"> <!-- need to makeinto template that pulls from RSO media -->
              <p>
                  <br>
                  <a class="mr-2" href="{% url 'user-events' event.host.username %}" style="color:white">Created by: {{ object.host }}</a>
                  <br>
                  <small class="event-creation-date" style="color:white">on {{ object.date_posted|date:"F d, Y" }}</small>
                    <!-- Only populate and allow admin to Update or Delete -->
                    {% if object.host == user %}
                      <div>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'event-delete' pk=event.pk%}">Delete Event</a>
                      </div>
                    {% endif %}
              </p>
            </div>

            <!-- Description -->
            <div class="event-body col-md-7.5">
              <p>
                <h2 class="event-title" align="center" style="color: white; letter-spacing: 3px;">{{ object.title }}</h2>
              </p>
              <p class="event-content">{{ object.description }}</p>
            </div>
          </div>  
        </div>

        <div class="event-details-bottom row">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#eventInfo"> Event Information </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#eventComments"> Comments </a>
            </li>
            {% if object.host == user %}
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#mapLocation"> Location </a>
            </li>
            {% endif %}
          </ul>

          <div class="tab-content">

            <div class="tab-pane container active" id="eventInfo">
                <!-- Event contact information -->
                <div class="event-contact" id="eventInfo">
                  <div class="event-information">
                    <div class="card" width="300px">
                      <div class="card-body" align="center">
                        <table class="table table-md table-custom">
                          <tr>
                            <td>Event date: <i>{{ event.date }}</i></td>
                            {% if event.rso == None %}
                            <td>Hosted by: <i><a href="{% url 'university-events' event.university.id %}">{{ event.university }}</a></i></td>
                            {% else %}
                            <td>Hosted by: <i><a href="{% url 'rso-events' event.rso.id %}">{{ event.rso }}</a></i></td>
                            {% endif %}
                          </tr>
                          <tr>
                            <td>Event time: <i>{{ event.time }}</i></td>
                            <td>University: <i><a href="{% url 'university-events' event.university.id %}">{{ event.university }}</a></i></td>
                          </tr> 
                            <td>Location: <i>{{ event.place.name }}</i></td>        
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <!-- Event comment section with overflow scroll -->
            <div class="tab-pane container fade event-comment" id="eventComments">
              <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=event.pk %}">Add comment</a>
              {% for comment in object.comments.all %}
              <div class="comment-display">
                 <div class="card comment-content">
                     <p > {{comment.author}}</p>
                     <p > {{comment.text}}</p>
                     <p > {{comment.rating}}</p>
                     <p > {{comment.date_posted}}</p>
                     {% if comment.author == request.user %}
                     <a class="btn btn-danger btn-sm mt-1" href="{% url 'comment_delete' pk=comment.pk%}">Delete</a>
                     {% endif %}
                 </div>
              </div>
              {% endfor %}
            </div>

            <div class="tab-pane container fade event-location" id="mapLocation">
              <div class="card map-display"> 
                <a class="btn btn-default" href="{% url 'map-view' pk=event.pk %}"> Set Location </a>
              </div>
            </div>

          </div>

  </article>
{% endblock content %}

