{% extends "event/base.html" %}
{% block content %}
    {% for event in Events %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ event.host.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-events' event.host.username %}">{{ event.host }}</a>
              <small class="text-muted">{{ event.date_posted|date:"F d, Y" }}</small>
            </div>
            <p>
              <h2 style="display:inline"><a class="article-title" href="#">{{ event.title }}</a></h2>
              <i>
                <a class="article-content"> Date: {{ event.date }} </a>
                <a class="article-content"> Time: {{ event.time }} </a>
              </i>
            </p>
            <p class="article-content">{{ event.description }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
